.adventures table .id {
	display: none;
}

.adventures table .created {
	display: none;
}

.categories table .id {
	display: none;
}

.categories table .created {
	display: none;
}

.levels table .id {
	display: none;
}

.levels table .created {
	display: none;
}

.questions table .id {
	display: none;
}

.questions table .created {
	display: none;
}

@media (max-width: 768px) {
	.questions table .questiontype {
		display: none;
	}
}

@media (max-width: 640px) {
	.questions table .description {
		display: none;
	}
}
