
.config-button {
	float: left;

	width: 12em;

	margin-right: 1em;
	margin-bottom: 1em;
}

.config-button img {
	width: 10em;
	height: 8em;

	display: block;
	margin: auto;

	border-radius: 0.5em;

	box-shadow:inset 0px 0px 3px 1px rgba(0,0,0,.5);
}

.glyphicon {
	font-size: 1.5em;
}

.panel nav li .btn {
	margin-right: 0.5em;
}

.panel nav li:last-child .btn {
	margin-right: 0em;
}

.panel table tr th.actions,
.panel table tr td.actions {
	width: 3em;
}

.panel nav ul.nav.navbar-nav {
	float: left;
}

.panel nav ul.nav.navbar-nav.navbar-right {
	float: right;
}
